@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;

    background: url('../images/bb.png') no-repeat top center fixed;
    background-size: cover; 
}


.starting-container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 40px;
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h1 span {
    color: #6a1b9a;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.start-btn {
    background: #6a1b9a;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    background: #765484;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width: 1024px) {
    body {
        background-position: top center;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    body {
        background-position: top center;
        background-size: cover;
    }
}